<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			[%d{yyyy/MM/dd HH:mm:ss.SSS}][%p{length=3}][%t][%c{1}] - %highlight{%m}%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout disableAnsi="false"  pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="FileAppender"
			filePattern="logs/%d{yyyy-MM}/%d{dd}.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
	</Appenders>
 
	<Loggers>
		<Logger name="jp.ac.hcs" level="debug"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>