<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Morning 天気画面</title>
<script src="today.js"></script>
</head>
<link rel="stylesheet" th:href="@{/morning/weather.css}"
	href="../static/morning/weather.css">
<link rel="stylesheet" th:href="@{/morning/stay.css}"
	href="../static/morning/stay.css">
<body>

	<!-- メニューバー -->
	<div class="menu-bar">
		<div class="menu-today">
			<script src="morning/days.js"></script>
		</div>
		<div class="menu-bar-menu">
			<table>
				<td><nobr>
						<a th:href="@{/Weather}">天気</a>
					</nobr> <nobr>
						<a th:href="@{/Weather_alert}">警報・注意報</a>
					</nobr> <nobr>
						<a th:href="@{/Horoscope}">占い</a>
					</nobr>
				<td><nobr>
						<p class="menu-bar-title">
							<a th:href="@{/main}"><img src="morning/Morning.png" /></a>
						</p>
					</nobr>
				<td><nobr>
						<a th:href="@{/Traffic}">バス情報</a>
					</nobr> <nobr>
						<a th:href="@{/Jr}">ＪＲ情報</a>
					</nobr> <nobr>
						<a th:href="@{/Chart}">チャート</a>
					</nobr>
			</table>
		</div>
		<!-- 台的なもの -->
		<footer class="platform">
			<p>© 2022 - 2023 HCS CORPORATION.</p>
		</footer>
	</div>
	<div class="speace">
		<p>error</p>
	</div>

	<!-- 天気の表示 -->
	<!--  今日、明日の天気テロップ -->

	<div class="weather-contents">
		<div class="weather-telopbox"
			th:object="${WeatherEntity.weatherList[0]}">
			<p class="telop">
				<span th:text="*{city}"></span>市の天気
			</p>
		</div>
		<div class="weather-menu">
			<!-- 今日、明日の入れもの -->



			<!-- 今日、明日の天気 -->

			<th:block th:each=" weather :${WeatherEntity.weatherList}">

				<div class="weather-box">
					<!-- 日付の表示 -->

					<p class="weather-day">

						<script src="morning/today.js"></script>
						の天気
					</p>
					<hr>
					<div class="weather-detailbox">
						<div class="detail-weather" style="text-align: center;">
							<!-- 天気imgの表示 -->
							<img th:src="${weather.svg}">
						</div>
						<div class="detail-name" style="text-align: center;">
							<span th:text="${weather.weather}"></span>
						</div>
						<!-- 詳細の天気の表示 -->

						<div class="detail-temp" style="text-align: center;">
							<div class="temp">
								<div class="high-temperature">
									<!-- 最高気温表示 -->
									<div class="left">最高気温：</div>
									<div class="right">
										<span th:text="${weather.temperature_max}"></span>℃
									</div>
								</div>
								<div class="low-temperature">
									<!-- 最低気温表示 -->
									<div class="left">最低気温：</div>
									<div class="right">
										<span th:text="${weather.temperature_min}"></span>℃
									</div>
								</div>
							</div>
						</div>
						<div class="detail-rain" style="text-align: center;">
							<!-- 降水量表示 -->
							<table>
								<tbody>
									<tr class="time">
										<th>時間</th>
										<td>0-6</td>
										<td>6-12</td>
										<td>12-18</td>
										<td>18-24</td>
									<tr>
										<th>降水</th>
										<td th:text="${weather.chanceOfRain_T00_06}"></td>
										<td th:text="${weather.chanceOfRain_T06_12}"></td>
										<td th:text="${weather.chanceOfRain_T12_18}"></td>
										<td th:text="${weather.chanceOfRain_T18_24}"></td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	<!-- 下のスペース -->
	<div class="bottom-space"></div>
</body>
</html>