/*
 共通のCSS設定を記載.
 1ページにしか使わない設定は、各html内で直接styleタグで指定する.
 */
*{
	--main-color: #C01664;
}

html {
	height: 100%
}
body {
	text-align: center;
}

h1 {
	font-family: 'arial black';
}

.container {
	margin-top: 10px;
}

.content-box {
	min-width: 250px;
	margin: 5px;
	padding: 10px;
	border-radius: 3px;
	background-color: #F0EEEE;
	border: 1px solid #C7C7C7;
}

.content-box ul {
	list-style: none;
}

.title-font {
	font-size: 2rem;
}

.logo-img {
	margin: 0px 10px 0px 5px;
	width: 40px;
}

.config-img {
	margin: 0 10px;
	width: 20px;
}

.back-red {
	background-color: red;
}

.button-logout {
	position: fixed;
	font-size: 1rem;
	right: -15px;
	top: 0px;
}

.input-form {
	margin: 20px auto;
	max-width: 600px;
}

.input-box {
	margin-bottom: 30px;
}

.mode-dark {
	color: black;
	background-color: black;
}

.main-color {
	background-color: var(--main-color) !important;
}

.btnx-lime {
	background: var(--main-color);
	border: 2px solid var(--main-color);
}

.btnx-lime-non {
	color:  var(--main-color);
	background: #FFFFFF;
	border: 2px solid var(--main-color);
}

.title-font {
	color: var(--main-color);
}

.content-profile {
	min-width: 250px;
	margin: 5px;
	padding: 20px;
	border-radius: 150px;
	background-color: #FFFFE080;
	border: 1px solid #C7C7C7;
}
