* {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bd-accent-rgb: 255, 228, 132;
    --bd-pink-rgb: 214, 51, 132;
    --bd-teal-rgb: 32, 201, 151;
    --docsearch-primary-color: var(--bd-violet);
    --docsearch-logo-color: var(--bd-violet);
    --bd-violet-bg: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), 0.1);
    --bd-pink-rgb: 214, 51, 132;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-aqua: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-aqua-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-aqua-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-aqua-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-aqua-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highaqua-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-emphasis-color: #000;
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highaqua-bg: #fff3cd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;

    --min-width: 15rem;
    --min-height: 15rem;

    --dtx-state-hover: var(--theme-sub-color),
        calc(0.06 * var(--theme-alpha-color));
    --dtx-state-focus: var(--theme-sub-color),
        calc(0.06 * var(--theme-alpha-color));
    --dtx-state-active: var(--theme-sub-color),
        calc(0.12 * var(--theme-alpha-color));
    --box-shadow: 0px 3px 3px rgba(var(--box-shadow-color));

    --svg-color: var(--theme-sub-color), 0.6;
    --border-color: var(--theme-sub-color), calc(0.15 * var(--theme-alpha-color));
    --box-shadow-color: var(--theme-sub-color),
        calc(0.2 * var(--theme-alpha-color));
    --search-form-bg-color: var(--theme-sub-color),
        calc(0.05 * var(--theme-alpha-color));

    --bs-border-color: transparent;
    --bs-border-color-translucent: transparent;
}

.aqua {
    --theme-name: "aqua";
    --theme-color: 125, 255, 255;
    --theme-sub-color: 15, 15, 15;
    --theme-alpha-color: 1;
}

.aqua #logo>div:first-child,
.aqua #logo>div:last-child {
    padding: 0 0.5rem;
}

.aqua #logo>div:first-child::after {
    content: url("../ITMedia.svg");
    /* でかさ調整できない */
}

.aqua #logo>div:last-child::after {
    content: "IT Media";
    white-space: nowrap;
}

.red {
    --theme-name: "red";
    --theme-color: 255, 125, 125;
    --theme-sub-color: 15, 15, 15;
    --theme-alpha-color: 2;
}

.red #logo {
    align-content: end;
}

.red #logo>div:first-child,
.red #logo>div:last-child {
    padding: 0 0.25rem;
}

.red #logo>div:first-child {
    font-size: small;
}

.red #logo>div:first-child::after {
    content: "▶";

    font-size: larger;

    color: white;
    background-color: rgb(255, 0, 0);

    padding: 0.25rem 1.25rem;
    border-radius: 10px;
}

.red #logo>div:last-child::after {
    content: "YouTube";
}

.dark {
    --theme-name: "dark";
    --theme-color: 15, 15, 15;
    --theme-sub-color: 240, 240, 240;
    --theme-alpha-color: 2;
}

.dark #logo>div:first-child,
.dark #logo>div:last-child {
    padding: 0 0.25rem;
}

.dark #logo>div:first-child::after {
    content: "Porn";
}

.dark #logo>div:last-child::after {
    content: "hub";

    color: black;
    background-color: rgb(239, 146, 29);

    padding: 0 0.25rem;

    border-radius: 5px;
    transition: all 0.5s ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

svg {
    fill: rgba(var(--svg-color));
}

body {
    --color1: 13, 110, 253;
    --color2: 255, 228, 132;
    --color3: 112, 44, 249;
    --color4: 214, 51, 132;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    color: rgb(var(--theme-sub-color));
    background-color: rgb(var(--theme-color));
    transition: color 0.5s, background-color 1s;

    background-image: linear-gradient(180deg,
            rgba(255, 255, 255, 0.01),
            rgba(255, 255, 255, 1) 85%),
        radial-gradient(ellipse at top left,
            rgba(var(--color1), 0.5),
            transparent 50%),
        radial-gradient(ellipse at top right,
            rgba(var(--color2), 0.5),
            transparent 50%),
        radial-gradient(ellipse at center right,
            rgba(var(--color3), 0.5),
            transparent 50%),
        radial-gradient(ellipse at center left,
            rgba(var(--color4), 0.5),
            transparent 50%);
}

header {
    color: inherit;
    background-color: transparent;

    border-bottom: 1px solid rgba(var(--border-color));
    transition: 1s;
}

main {
    height: 100%;
    overflow: auto;
}

#akstn{
    display: none !important;
    
    grid-template:
    "a a b c" 1fr
    "d d e f" 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}

#akstn .col{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

#logo {
    grid-area: a;
    align-items: center;
}

#search-form {
    grid-area: b;
    display: flex;

    min-width: var(--min-width);
    max-width: 560px;
    width: 100%;
    height: auto;

    align-items: center;
    justify-items: center;
    justify-self: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    background-color: rgba(var(--search-form-bg-color)) !important;
}

#search-form-submit {
    grid-area: a;
}

#search-form-query {
    grid-area: b;

    height: 100%;

    color: inherit;
    background-color: transparent;

    border-style: none;
    border-radius: 10px;
}

#search-form-query:focus {
    box-shadow: none;
}

#search-form-reset {
    grid-area: c;
}

#search-form-filter {
    grid-area: d;
}

.search-form-focusin {
    border-color: rgba(var(--border-color)) !important;
    --search-form-bg-color: transparent;
    box-shadow: var(--box-shadow);
    transition: color, background-color, border, box-shadow 0.2s ease-in;
}

#search-form-filter .filter-tag button {
    display: flex !important;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

#search-form-filter .filter-tag button * {
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#page{
    grid-area: c;
}

#search-form-filter-tags{
    grid-area: d;
}

#filterForm .form-select {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

.filter-setting {
    align-items: center;
}

#contents {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--min-height), 1fr));
}

.top-screen main,
.top-screen footer {
    display: none;
}

.top-screen header {
    overflow: auto;

    display: grid;
    border-style: none;
    height: 100vh;
}

.top-screen .container {
    margin-bottom: 10rem;
}

.top-screen #logo {
    width: auto;
    justify-content: center;

    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.top-screen #logo div::after {
    font-size: xxx-large;
    font-weight: bolder;
}

.top-screen #aiueo {
    grid-template: 
            ". a ." auto 
            "b b b" auto / 0 100% 0 !important;

    justify-content: center;
    align-content: center;

    height: 70vh;
}

.top-screen #akstn{
    display: grid !important;
}

.top-screen #search-form {
    margin: auto;
}

.top-screen #page {
    display: none;
}

.top-screen #search-form-filter-tags {
    display: none;
}

.btn {
    --bs-btn-hover-bg: rgba(var(--dtx-state-hover));
    --bs-btn-focus-bg: rgba(var(--dtx-state-focus));
    --bs-btn-active-bg: rgba(var(--dtx-state-active));
    --bs-btn-color: rgba(var(--theme-sub-color), 0.6);
    --bs-btn-hover-color: rgba(var(--theme-sub-color), 0.8);
    --bs-btn-active-color: rgba(var(--theme-sub-color), 1);
    --bs-btn-active-border-color: transparent;
}

.btn-border {
    display: flex;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

.btn-search-form {
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-padding-x: 0.375rem;
    --bs-btn-padding-y: calc(var(--bs-btn-padding-x) / 2);

    align-items: center;
    justify-items: center;

    border-radius: 50%;

    aspect-ratio: 1/1;
}

.col {
    display: grid;
    grid-gap: 0.5rem;

    padding-top: calc(var(--bs-gutter-x) * 0.25);
    padding-bottom: calc(var(--bs-gutter-x) * 0.25);

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    text-align: start;
}

.col:hover {
    box-shadow: var(--box-shadow);
}

.col.item{
    grid-template: "a a" auto "b b" auto "c d" auto / 1fr 1fr !important;
}

.col .iconUrl {
    grid-area: a;
    justify-self: center;
    align-self: start;
    max-width: 100%;
}

.col .title {
    grid-area: b;
    align-self: start;
}

.col .publishBy {
    grid-area: c;
    align-self: end;
}

.col .publishAt {
    grid-area: d;
    align-self: end;
    text-align: end;
}

.col .originalUrl {
    display: none;
}

.col .source {
    display: none;
}

.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: rgba(var(--border-color));
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: rgba(var(--dtx-state-hover));
    --bs-pagination-hover-border-color: rgba(var(--border-color));
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: rgba(var(--dtx-state-focus));
    --bs-pagination-focus-box-shadow: ;
    --bs-pagination-active-color: rgba(var(--theme-sub-color), 1);
    --bs-pagination-active-bg: transparent;
    --bs-pagination-active-border-color: transparent;
}

#page-item-prev::after {
    content: "Prev";
}

#page-item-next::after {
    content: "Next";
}

@media (max-width: 768px) {
    #aiueo {
        grid-template:
            "a . c" auto
            "b b b" auto
            "d d d" auto / 1fr auto 1fr !important;
    }

    #aiueo #page>ul {
        justify-content: end;
    }
}

#aiueo {
    grid-template:
        "a b c" auto
        "d d d" auto / 1fr 6fr 1fr;
}

#logo {
    background-color: transparent;

    font-weight: bolder;
}

.scrolling {}

.scrolling #aiueo {
    grid-template:
        "a . c" auto
        "b b b" none
        "d d d" none / 1fr auto 1fr !important;
}

.scrolling #search-form {
    display: none;
}

.scrolling #search-form-filter-tags {
    display: none;
}

#main-weather{
    grid-area: a;
}

#main-traffic-jr{
    grid-area: b;
}

#main-traffic-bus{
    grid-area: c;
}

#main-divination{
    grid-area: d;
}

#main-alert{
    grid-area: e;
}

#main-chart{
    grid-area:f;
}

.tile{

}