* {
    --min-width: 15rem;
    --min-height: 15rem;

    --dtx-state-hover: var(--theme-sub-color),
        calc(0.06 * var(--theme-alpha-color));
    --dtx-state-focus: var(--theme-sub-color),
        calc(0.06 * var(--theme-alpha-color));
    --dtx-state-active: var(--theme-sub-color),
        calc(0.12 * var(--theme-alpha-color));
    --box-shadow: 0px 3px 3px rgba(var(--box-shadow-color));

    --svg-color: var(--theme-sub-color), 0.6;
    --border-color: var(--theme-sub-color), calc(0.15 * var(--theme-alpha-color));
    --box-shadow-color: var(--theme-sub-color),
        calc(0.2 * var(--theme-alpha-color));
    --search-form-bg-color: var(--theme-sub-color),
        calc(0.05 * var(--theme-alpha-color));

    --bs-border-color: transparent;
    --bs-border-color-translucent: transparent;

    --background-image-top-color: var(--top-color);
    --background-image-bottom-color: var(--bottom-color);


    --search-form-width: 560px;
}

.aqua {
    --theme-name: "aqua";
    --theme-color: 125, 255, 255;
    --theme-sub-color: 15, 15, 15;
    --theme-alpha-color: 1;
    --top-color: 255, 255, 255, 0.01;
    --bottom-color: 255, 255, 255, 1;
}

.aqua #logo>div:first-child,
.aqua #logo>div:last-child {
    padding: 0 0.5rem;
}

.aqua #logo>div:first-child::after {
    content: url("../ITMedia.svg");
    /* でかさ調整できない */
}

.aqua #logo>div:last-child::after {
    content: "IT Media";
    white-space: nowrap;
}

.red {
    --theme-name: "red";
    --theme-color: 255, 125, 125;
    --theme-sub-color: 15, 15, 15;
    --theme-alpha-color: 2;
    --top-color: 64, 32, 32, 0.1;
    --bottom-color: 255, 225, 225, 1;
}

.red #logo {
    align-content: end;
}

.red #logo>div:first-child,
.red #logo>div:last-child {
    padding: 0 0.25rem;
}

.red #logo>div:first-child {
    font-size: small;
}

.red #logo>div:first-child::after {
    content: "▶";

    font-size: larger;

    color: white;
    background-color: rgb(255, 0, 0);

    padding: 0.25rem 1.25rem;
    border-radius: 10px;
}

.red #logo>div:last-child::after {
    content: "YouTube";
}

.dark {
    --theme-name: "dark";
    --theme-color: 15, 15, 15;
    --theme-sub-color: 240, 240, 240;
    --theme-alpha-color: 2;
    --top-color: 32, 32, 64, 0.01;
    --bottom-color: 32, 32, 64, 1;
}

.dark #logo>div:first-child,
.dark #logo>div:last-child {
    padding: 0 0.25rem;
}

.dark #logo>div:first-child::after {
    content: "Porn";
}

.dark #logo>div:last-child::after {
    content: "hub";

    color: black;
    background-color: rgb(239, 146, 29);

    padding: 0 0.25rem;

    border-radius: 5px;
    transition: all 0.5s ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

svg {
    fill: rgba(var(--svg-color));
}

body {
    --top-left-color: 13, 110, 253, var(--alpha1);
    --top-right-color: 255, 228, 132, var(--alpha1);
    --center-right-color: 112, 44, 249, var(--alpha1);
    --center-left-color: 214, 51, 132, var(--alpha1);
    --bottom-left-color: 0, 0, 0, 1;
    --bottom-right-color: 0, 0, 0, 1;

    --alpha1: 0.5;
    /*0.5*/

    width: 100%;
    height: 100vh;

    overflow: hidden;

    color: rgb(var(--theme-sub-color));
    background-color: rgb(var(--theme-color));
    transition: color 0.5s, background-color 1s;

    background-image: linear-gradient(180deg,
            rgba(var(--background-image-top-color)),
            rgba(var(--background-image-bottom-color)) 85%),
        radial-gradient(ellipse at top left,
            rgba(var(--top-left-color)),
            transparent 50%),
        radial-gradient(ellipse at top right,
            rgba(var(--top-right-color)),
            transparent 50%),
        radial-gradient(ellipse at center right,
            rgba(var(--center-right-color)),
            transparent 50%),
        radial-gradient(ellipse at center left,
            rgba(var(--center-left-color)),
            transparent 50%),
        radial-gradient(ellipse at bottom left,
            rgba(var(--bottom-left-color)),
            transparent 50%),
        radial-gradient(ellipse at bottom right,
            rgba(var(--bottom-right-color)),
            transparent 50%);
}

header {
    color: inherit;
    background-color: transparent;

    border-bottom: 1px solid rgba(var(--border-color));
    transition: 1s;
}

main {
    overflow: auto;

    height: 100%;
}

#tiles {
    display: none !important;
    grid-auto-columns: minmax(150px, 1fr);
    grid-gap: 1rem;

    grid-template-areas:
        "a a"
        "b c"
        "d d"
        "e f";
}

@media (min-width: 1200px) {
    #tiles {
        grid-template-areas:
        "a d"
        "b c"
        "e f";
    }

}

#tiles .col {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));

    background-color: rgba(var(--search-form-bg-color)) !important;
}

#logo {
    grid-area: a;
    align-items: center;
}

#search-form {
    grid-area: b;
    display: flex;

    max-width: 560px;
    height: auto;

    align-items: center;
    justify-items: center;
    justify-self: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    background-color: rgba(var(--search-form-bg-color)) !important;
}

#search-form-submit {
    grid-area: a;
}

#search-form-query {
    grid-area: b;

    height: 100%;

    color: inherit;
    background-color: transparent;

    border-style: none;
    border-radius: 10px;
}

#search-form-query:focus {
    box-shadow: none;
}

#search-form-reset {
    grid-area: c;
}

#search-form-filter {
    grid-area: d;
}

.search-form-focusin {
    border-color: rgba(var(--border-color)) !important;
    --search-form-bg-color: transparent;
    box-shadow: var(--box-shadow);
    transition: color, background-color, border, box-shadow 0.2s ease-in;
}

#search-form-filter .filter-tag button {
    display: flex !important;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

#search-form-filter .filter-tag button * {
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#page {
    grid-area: c;
    display: flex;
}

#search-form-filter-tags {
    grid-area: d;

    align-items: center;
}

#filterForm .form-select {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

.filter-setting {
    align-items: center;
}

#contents {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--min-height), 1fr));
}

.top-screen main,
.top-screen footer {
    display: none;
}

.top-screen header {
    overflow-y: auto;

    display: grid;
    border-style: none;
    height: 100vh;
}

.top-screen .container {
    margin-bottom: 10rem;
}

.top-screen #logo {
    width: auto;
    justify-content: center;

    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.top-screen #logo div::after {
    font-size: xxx-large;
    font-weight: bolder;
}

.top-screen #aiueo {
    grid-template:
        ". a ." auto "b b b" auto / 0 100% 0 !important;

    grid-auto-rows: auto;
    grid-auto-columns: 1fr;

    justify-content: center;
    align-content: center;

    height: 90vh;
}

.top-screen #tiles {
    display: grid !important;
}

.top-screen #search-form {
    margin: auto;
}

.top-screen #page {
    display: none;
}

.top-screen #search-form-filter-tags {
    display: none;
}

.btn {
    --bs-btn-hover-bg: rgba(var(--dtx-state-hover));
    --bs-btn-focus-bg: rgba(var(--dtx-state-focus));
    --bs-btn-active-bg: rgba(var(--dtx-state-active));
    --bs-btn-color: rgba(var(--theme-sub-color), 0.6);
    --bs-btn-hover-color: rgba(var(--theme-sub-color), 0.8);
    --bs-btn-active-color: rgba(var(--theme-sub-color), 1);
    --bs-btn-active-border-color: transparent;
}

.btn-border {
    display: flex;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(var(--border-color));
}

.btn-search-form {
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-padding-x: 0.375rem;
    --bs-btn-padding-y: calc(var(--bs-btn-padding-x) / 2);

    align-items: center;
    justify-items: center;

    border-radius: 50%;

    aspect-ratio: 1/1;
}





.col {
    display: grid;
    grid-gap: 0.5rem;

    padding-top: calc(var(--bs-gutter-x) * 0.25);
    padding-bottom: calc(var(--bs-gutter-x) * 0.25);

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    text-align: start;
}

.col:hover {
    box-shadow: var(--box-shadow);
}



.col.item {
    grid-template: "a a" auto "b b" auto "c d" auto / 1fr 1fr !important;
}

.col.item .iconUrl {
    grid-area: a;
    justify-self: center;
    align-self: start;
    max-width: 100%;
}

.col.item .title {
    grid-area: b;
    align-self: start;
}

.col.item .publishBy {
    grid-area: c;
    align-self: end;
}

.col.item .publishAt {
    grid-area: d;
    align-self: end;
    text-align: end;
}

.col.item .originalUrl {
    display: none;
}

.col.item .source {
    display: none;
}



.col.tile {
    grid-gap: 1rem;
}

.col.tile .title {
    height: auto;
}

.col.tile section {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1.5rem !important;
}

.col.tile section>* {
    width: 100%;
    height: auto;

    display: flex;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: rgba(var(--border-color));
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: rgba(var(--dtx-state-hover));
    --bs-pagination-hover-border-color: rgba(var(--border-color));
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: rgba(var(--dtx-state-focus));
    --bs-pagination-focus-box-shadow: ;
    --bs-pagination-active-color: rgba(var(--theme-sub-color), 1);
    --bs-pagination-active-bg: transparent;
    --bs-pagination-active-border-color: transparent;
}

#page {
    justify-content: end;
}

#page-item-prev::after {
    content: "Prev";
}

#page-item-next::after {
    content: "Next";
}

#search-form-filter-tags {}

@media (max-width: 1200px) {
    #aiueo {
        grid-template-areas:
            "a c"
            "b b"
            "d d" !important;
    }

    #aiueo #page>ul {
        justify-content: end;
    }
}

@media (min-width: 1200px) {
    #aiueo {
        grid-template:
            "a b c" auto
            "d d d" auto / 1fr 1fr 1fr;
    }
}

#logo {
    background-color: transparent;

    font-weight: bolder;
}

.scrolling {}

.scrolling #aiueo {
    grid-template:
        "a . c" auto
        "b b b" none
        "d d d" none / 1fr auto 1fr !important;
}

.scrolling #search-form {
    display: none;
}

.scrolling #search-form-filter-tags {
    display: none;
}

#main-weather {
    grid-area: a;
}

#main-weather img {
    aspect-ratio: 1/1;

    width: 100%;
    max-width: 150px;
}

#main-weather section {
    grid-template:
        "a b" 1fr
        "a c" 1fr / 1fr 1fr;
}

#main-traffic-jr {
    grid-area: b;
}

#main-traffic-bus {
    grid-area: c;
}

#main-divination {
    grid-area: d;
}

#sign-list {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-gap: 1rem;
}


#main-alert {
    grid-area: e;
}

#main-chart {
    grid-area: f;
}

#chanceOfRainGraph {
    display: grid;
    grid-template:
        "aa .. .. .. .. .. .. .. .." 1fr
        ".. c1 .. c2 .. c3 .. c4 .." 3fr
        "t1 .. t2 .. t3 .. t4 .. t5" 1fr;
    grid-auto-columns: 1rem;

    justify-content: center;
}

.time {
    width: 1rem;
    align-self: end;
    font-size: small;
}

.chance-rain {
    display: flex;

    align-items: end;
    width: 100%;
    height: 100%;
}

.chance-rain:hover {
    background-color: rgba(var(--box-shadow-color)) !important;
}

.chance-rain>div {
    width: 100%;
    background-color: rgba(var(--box-shadow-color));
    border-color: rgba(var(--box-shadow-color));
    border-style: solid;
    border-width: 1px
}

div[chance-rain="100%"]>div {
    height: 100%;
}

div[chance-rain="90%"]>div {
    height: 90%;
}

div[chance-rain="80%"]>div {
    height: 80%;
}

div[chance-rain="70%"]>div {
    height: 70%;
}

div[chance-rain="60%"]>div {
    height: 60%;
}

div[chance-rain="50%"]>div {
    height: 50%;
}

div[chance-rain="40%"]>div {
    height: 40%;
}

div[chance-rain="30%"]>div {
    height: 30%;
}

div[chance-rain="20%"]>div {
    height: 20%;
}

div[chance-rain="10%"]>div {
    height: 10%;
}

div[chance-rain="0%"]>div {
    height: 0%;
}

.sign img {
    width: 100%;
}

.content {
    grid-area: e;

    border-color: rgba(var(--border-color));

    border-style: solid;
    border-left: 1px;
    border-right: 1px;
    width: 100%;
}

.icons {
    grid-area: a;

    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
}

.sign-name::after {
    content: "の今日の運勢";
}

.lucky-item {
    grid-area: c;

    display: flex;
    width: 100%;
}

.lucky-item::before {
    content: attr(lucky-item-label);
}

.lucky-item::after {
    content: attr(lucky-item-value);
}

.lucky-color {
    grid-area: d;

    display: flex;
    width: 100%;
}

.lucky-color::before {
    content: attr(lucky-color-label);
}

.lucky-color::after {
    content: attr(lucky-color-value);
}

.lucky-item,
.lucky-color {
    width: 75%;
    flex-direction: row !important;
}

.lucky-color::before,
.lucky-item::before {
    width: 100%;
    text-align: start;
}

.lucky-color::after,
.lucky-item::after {
    width: 100%;
    text-align: end;
}

.lucky-stars {
    justify-content: center !important;
    width: 100% !important;
}

.stars {
    grid-area: b;
    display: flex;
    flex-direction: column;

    margin: auto;
    align-items: center;
}

div[stars] {
    display: flex;
}

div[stars]::before {
    color: gold;
}

div[stars]::after {
    color: gray;
}

div[stars="0"]::before {
    content: "";
}

div[stars="0"]::after {
    content: "★★★★★";
}

div[stars="1"]::before {
    content: "★";
}

div[stars="1"]::after {
    content: "★★★★";
}

div[stars="2"]::before {
    content: "★★";
}

div[stars="2"]::after {
    content: "★★★";
}

div[stars="3"]::before {
    content: "★★★";
}

div[stars="3"]::after {
    content: "★★";
}

div[stars="4"]::before {
    content: "★★★★";
}

div[stars="4"]::after {
    content: "★";
}

div[stars="5"]::before {
    content: "★★★★★";
}

div[stars="5"]::after {
    content: "";
}

#main-divination section.hovering {
    display: block;
}


#sign-detail {
    display: grid;
    grid-template:
        "a"
        "b"
        "e"
        "c"
        "d";

    grid-auto-columns: 100%;
}