<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
	<!-- 共通ヘッダ -->

	<head th:fragment="common-head">
		<meta charset="UTF-8">
		<title>ASAP.com</title>

		<!-- モバイル設定 -->
		<meta id="viewport" name="viewport" content="width=device-width,
				initial-scale=1, maximum-scale=1,
				user-scalable=no">
		<link rel="manifest" th:href="@{/css/manifest.json}" crossorigin="use-credentials">
		<meta name="application-name" content="ASAP">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="ASAP">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- アイコン設定 -->
		<link rel="icon" th:href="@{/static/favicon.ico}" sizes="16x16" href="../static/favicon.ico">
		<link rel="shortcut icon" th:href="@{/static/favicon.ico}">
		<link rel="apple-touch-icon" th:href="@{/static/favicon.ico}">
		<link rel="apple-touch-icon" th:href="@{/static/favicon.ico}" sizes="192x192">
		<link rel="apple-touch-icon" th:href="@{/static/favicon.ico}" sizes="128x128">

		<!-- スタイル設定 -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/main.css}">

	</head>

	<!-- スクリプト設定 -->
	<div th:fragment="common-script">
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
	</div>

	<!-- ヘッダ-->
	<header th:fragment="common-header" class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top">
		<nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
			<div class="bd-navbar-toggle">
				<button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar"
					aria-controls="bdSidebar" aria-label="Toggle docs navigation">
					<svg th:replace="common-icon :: icon-burger"></svg>
				</button>
			</div>
			<a class="navbar-brand p-0 me-0 me-lg-2" th:href="@{/}" aria-label="Bootstrap">
				<h1>ASAP</h1>
			</a>

			<div class="ms-md-auto">
				<div sec:authentication="name"></div>
				<div sec:authorize="hasRole('STUDENT')">STUDENT</div>
				<div sec:authorize="hasRole('TEACHER')">TEACHER</div>
				<div sec:authorize="hasRole('ADMIN')">ADMIN</div>
			</div>
		</nav>
	</header>

	<!-- ページネーション -->
	<nav th:if="${page != null}" th:fragment="common-pagination" aria-label="Page navigation2">
		<ul class="pagination my-0 mx-2">
			<!--/* 前のページ */-->
			<li class="page-item" th:classappend="${page.first} ? 'disabled'"><a
					th:href="@{''(id=${id},page=${page.number - 1})}" class="page-link" th:tabindex="${page.first} ? -1"
					aria-label="Previous"><strong>
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Prev</span></strong>
				</a></li>

			<!--/* 最初のページ */-->
			<li th:if="${page.number gt 2}" class="page-item"><a th:href="@{''(id=${id},page=0)}"
					class="page-link"><strong>1</strong></a></li>

			<!--/* … */-->
			<li th:if="${page.number gt 3}" class="page-item disabled">
				<a href="#" class="page-link"><strong>…</strong></a>
			</li>

			<th:block th:each="i : ${ #numbers.sequence(page.number - 2, page.number + 2) }">
				<li th:if="${i ge 0 and i lt page.totalPages}" class="page-item"
					th:classappend="${i eq page.number} ? 'active'"><a th:href="@{''(id=${id},page=${i})}"
						class="page-link"><strong th:text="${i + 1}"></strong></a></li>
			</th:block>

			<!--/* … */-->
			<li th:if="${page.totalPages gt (page.number + 4)}" class="page-item disabled">
				<a href="#" class="page-link"><strong>…</strong></a>
			</li>

			<!--/* 最後のページ */-->
			<li th:if="${page.totalPages gt (page.number + 3)}" class="page-item">
				<a th:href="@{''(page=${page.totalPages - 1})}" th:text="${page.totalPages}" class="page-link"></a>
			</li>

			<!--/* 次のページ */-->
			<li class="page-item" th:classappend="${page.last} ? 'disabled'"><a
					th:href="@{''(id=${id},page=${page.number + 1})}" class="page-link" th:tabindex="${page.last} ? -1"
					aria-label="Next">
					<strong>
						<span class="sr-only">Next</span>
						<span aria-hidden="true">&raquo;</span>
					</strong>
				</a>
			</li>
		</ul>
	</nav>
</body>

</html>