<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="common :: common-head"></div>
<div th:replace="common :: common-script"></div>

<body>
	<div th:replace="common :: common-nav"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6" role="presentation"
				sec:authorize="hasRole('ADMIN') or hasRole('TOP')">

				<!-- 管理者と上位のみのコンテンツ -->
				<div class="content-box">
					<h2>ユーザ管理</h2>
					<form method="get" th:action="@{/user/list}">
						<button type="submit" class="btn btn-success btnx-lime-non">ユーザ管理へ</button>
					</form>
				</div>
			</div>
			<!-- 各種コンテンツ -->
			<div class="col-sm-6">
				<div class="content-box">
					<h2>住所検索 - 郵便番号</h2>
					<form method="get" th:action="@{/zip}" th:object="${zipCodeForm}"
						class="needs-validation">
						<div class="input-group">
							<input type="number" class="form-control" name="zipCode"
								placeholder="郵便番号 : XXXXXXX">
							<span class="input-group-btn">
								<button id="zipcode" type="submit"
									class="btn btn-success btnx-lime-non">検索</button>
							</span>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>