<style>
    section#test {
        position: relative;
        display: grid;
        grid-template-areas:
            "r1 r1 r1 r1 r2 r2 r3 r3 r4  r4  r5  r5  r6  r6  r7 r7"
            "r1 r1 r1 r1 .. r8 r8 r9 r9 r10 r10 r11 r11 r12 r12  .";
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        transition: all;
    }

    .sign {
        aspect-ratio: 1/1;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;

        display: flex;
        transition: all 1s;
    }

    .sign:hover {
        background-color: aqua;
        display: grid;
        transition: scale(120%);
    }

    .sign-hovered>img {
        display: none;
    }

    .sign-content {
        display: none;
        z-index: 100;
        grid-template:
            "a b"
            "a c"
            "a d";
    }

    .sign.sign-hovered .sign-content {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
    }

    .eye {
        justify-items: center;
        align-items: center;
        display: none;
    }

    .eye * {
        display: flex;
        aspect-ratio: 1/1;
        margin: auto;
        background-color: #936DFC;
        border-radius: 100%;
        border: 1px black solid;

        justify-content: center;
        align-content: center;
    }

    .tooltip {
        background: pink;
        border-radius: 100%;
        color: #FFF;
    }

    .tooltip:before,
    .tooltip:after {
        position: absolute;
        content: '';
        opacity: 0;
        transition: all 0.4s ease;
    }

    .tooltip:after {
        position: absolute;
        content: attr(title);
        background: pink;
        font-size: 13px;
        font-weight: 300;
        top: 0px;
        left: 0px;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 1px;
        transform: translateY(20px);
    }

    .tooltip:hover::before,
    .tooltip:hover::after {
        opacity: 1;
        transform: translateY(-2px);
    }


    #dis {
        display: block;
    }

    .icons {
        grid-area: a;

        display: flex;
        flex-direction: column;

        justify-items: center;
        align-items: center;
    }

    .lucky-item {
        grid-area: b;

        display: flex;
        width: 100%;
    }

    .lucky-item>div {
        display: flex;
        width: 100%;
    }

    .lucky-item>div:first-child {
        justify-content: start;
    }

    .lucky-item>div:last-child {
        justify-content: end;
    }

    .lucky-color {
        grid-area: c;

        display: flex;
        width: 100%;
    }

    .lucky-color>div {
        display: flex;
        width: 100%;
    }

    .lucky-color>div:first-child {
        justify-content: start;
    }

    .lucky-color>div:last-child {
        justify-content: end;
    }

    .content {
        grid-area: d;
    }

    .lucky-stars{
        display: flex;
    }

    .stars{
        display: flex;
        flex-direction: column;

        width: 100%;
        align-items: center;
    }

    div[stars] {
        display: flex;
    }

    div[stars]::before {
        color: gold;
    }

    div[stars]::after {
        color: gray;
    }

    div[stars="0"]::before {
        content: "";
    }

    div[stars="0"]::after {
        content: "★★★★★";
    }

    div[stars="1"]::before {
        content: "★";
    }

    div[stars="1"]::after {
        content: "★★★★";
    }

    div[stars="2"]::before {
        content: "★★";
    }

    div[stars="2"]::after {
        content: "★★★";
    }

    div[stars="3"]::before {
        content: "★★★";
    }

    div[stars="3"]::after {
        content: "★★";
    }

    div[stars="4"]::before {
        content: "★★★★";
    }

    div[stars="4"]::after {
        content: "★";
    }

    div[stars="5"]::before {
        content: "★★★★★";
    }

    div[stars="5"]::after {
        content: "";
    }
</style>

<link rel="stylesheet" href="../static/css/bootstrap.min.css">

<div class="eye" style="width:100%;height: 100%;" hidden>
    <div style="width:90%;height: 90%;">
        <div style="width:80%;height: 80%;">
            <div style="width:70%;height: 70%;">
                <div style="width:60%;height: 60%;">
                    <div style="width:50%;height: 50%;background-color: black;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="test" hidden>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="山羊座" style="grid-area: r1;">
        <div hidden="">1</div>
        <img src="../static/morning/capricorn.svg">
        <span hidden="">山羊座</span>
        <div class="sign-content">
            <div>
                <img class="" src="../static/morning/capricorn.svg">
                <div></div>
            </div>
        </div>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="水瓶座" style="grid-area: r2;">
        <div hidden="">2</div>
        <img src="../static/morning/aquarius.svg">
        <span hidden="">水瓶座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="双子座" style="grid-area: r3;">
        <div hidden="">3</div>
        <img src="../static/morning/gemini.svg">
        <span hidden="">双子座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="魚座" style="grid-area: r4;">
        <div hidden="">4</div>
        <img src="../static/morning/pisces.svg">
        <span hidden="">魚座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="乙女座" style="grid-area: r5;">
        <div hidden="">5</div>
        <img src="../static/morning/virgo.svg">
        <span hidden="">乙女座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="牡牛座" style="grid-area: r6;">
        <div hidden="">6</div>
        <img src="../static/morning/taurus.svg">
        <span hidden="">牡牛座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="蠍座" style="grid-area: r7;">
        <div hidden="">7</div>
        <img src="../static/morning/scorpio.svg">
        <span hidden="">蠍座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="射手座" style="grid-area: r8;">
        <div hidden="">8</div>
        <img src="../static/morning/sagittarius.svg">
        <span hidden="">射手座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="天秤座" style="grid-area: r9;">
        <div hidden="">9</div>
        <img src="../static/morning/libra.svg">
        <span hidden="">天秤座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="蟹座" style="grid-area: r10;">
        <div hidden="">10</div>
        <img src="../static/morning/cancer.svg">
        <span hidden="">蟹座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="獅子座" style="grid-area: r11;">
        <div hidden="">11</div>
        <img src="../static/morning/leo.svg">
        <span hidden="">獅子座</span>
    </div>
    <div class="tooltip sign" data-bs-toggle="tooltip" data-bs-placement="top" title="牡羊座" style="grid-area: r12;">
        <div hidden="">12</div>
        <img src="../static/morning/aries.svg">
        <span hidden="">牡羊座</span>
    </div>

</section>
<section id="dis">
    <div class="icons">
        <img src="../static/morning/aries.svg">
        <div の今日の運勢>牡羊座の今日の運勢</div>
    </div>

    <div class="lucky-stars">
        <div class="stars">
            <div>総合運</div>
            <div th:starts="*{info.total}" stars="1"></div>
        </div>
        <div class="stars">
            <div>恋愛運</div>
            <div th:starts="*{info.love}" stars="2"></div>
        </div>
        <div class="stars">
            <div>金運</div>
            <div th:starts="*{info.gold}" stars="3"></div>
        </div>
        <div class="stars">
            <div>仕事運</div>
            <div th:starts="*{info.job}" stars="4"></div>
        </div>
    </div>

    <div class="content">
        あなた独自の魅力が光り、周りの人が魅了されていく日。自信をもって、自分自身のやるべきことに没頭してみて。背筋をシャンと伸ばすことで運気が上がり、気分良く一日を過ごせそうです。
    </div>

    <div class="lucky-item">
        <div>
            ラッキーアイテム
        </div>
        <div>
            ラッピングペーパー
        </div>
    </div>
    <div class="lucky-color">
        <div>
            ラッキーカラー
        </div>
        <div>
            ワインレッド
        </div>
    </div>
</section>

<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
<script>
    // $(".sign").mouseenter(function () {
    //     $(this).addClass("tooltip");
    // });

    // $(".sign").mouseleave(function () {
    //     $(this).removeClass("tooltip");
    // });
</script>