div.title-font{
    text-align: center;
}
form#search-input{
    height: 3rem;
    width: 80%;
}
button#search{
    white-space:nowrap;
}
button.right{
    display: block;
    margin-left: auto;
    margin-right: auto
}